{% if player_is_correct %}
	<div class="ui massive green message">
	  You got it right! :)
	</div>
{% else %}
	<div class="ui massive red message">
	  Sorry, {{ chosen.name }} wasn't right. :(
	</div>
	<div class="ui massive green message">
	  It was {{ correct.name }}.
	</div>
{% endif %}

<div class="ui cards">
	<div class="column">
		<div class="ui card">
			<div class="image">
				<img src="{{ correct.image_url }}">
			</div>
			<div class="content">
				<a class="center aligned header">{{ correct.name }}</a>
				<div class="description">
					{{ correct.tag_line }}
				</div>
			</div>
			<a class="ui bottom green attached button" href="{{ correct.canonical_url }}">
			  Learn More About It!
			</a>
		</div>
		<a class="ui bottom blue button" href="{% url "start" %}">
		  Play again!
		</a>
	</div>
</div>