{% extends "site_base.html" %}

{% block body %}
<div class="replace">

	<div class="ui segment">
		<div class="ui huge labels">
			{% for reason in correct_tool.reasons %}
				<div class="ui label">{{ reason.one_liner }}</div>
			{% endfor %}
		</div>
	</div>

	<div id="selectionLoader"></div>
	<br/>

	<div class="ui four column grid">
		<div class="column">
			<div class="ui card">
				<div class="image">
					<img src="{{ tool_one.image_url }}">
				</div>
				<div class="content">
					<a class="center aligned header">{{ tool_one.name }}</a>
				</div>
				<div class="description">
					{{ tool_one.tag_line }}
				</div>
				<a class="ui bottom green attached button ajax" href="{% url "choose_tool" tool_one.id correct_tool.id %}" data-method="post" data-replace=".replace">
				  This is it!
				</a>
			</div>
		</div>
		<div class="column">
			<div class="ui card">
				<div class="image">
					<img src="{{ tool_two.image_url }}">
				</div>
				<div class="content">
					<a class="center aligned header">{{ tool_two.name }}</a>
				</div>
				<div class="description">
					{{ tool_two.tag_line }}
				</div>
				<a class="ui bottom green attached button ajax" href="{% url "choose_tool" tool_two.id correct_tool.id %}" data-method="post" data-replace=".replace">
				  This is it!
				</a>
			</div>
		</div>
		<div class="column">
			<div class="ui card">
				<div class="image">
					<img src="{{ tool_three.image_url }}">
				</div>
				<div class="content">
					<a class="center aligned header">{{ tool_three.name }}</a>
				</div>
				<div class="description">
					{{ tool_three.tag_line }}
				</div>
				<a class="ui bottom green attached button ajax" href="{% url "choose_tool" tool_three.id correct_tool.id %}" data-method="post" data-replace=".replace">
				  This is it!
				</a>
			</div>
		</div>
		<div class="column">
			<div class="ui card">
				<div class="image">
					<img src="{{ tool_four.image_url }}">
				</div>
				<div class="content">
					<a class="center aligned header">{{ tool_four.name }}</a>
				</div>
				<div class="description">
					{{ tool_four.tag_line }}
				</div>
				<a class="ui bottom green attached button ajax" href="{% url "choose_tool" tool_four.id correct_tool.id %}" data-method="post" data-replace=".replace">
				  This is it!
				</a>
			</div>
		</div>
	</div>

</div>



<script type="text/javascript">
  $(document).on("eldarion-ajax:begin", function(evt, $el) {


    if (document.getElementById("loader")) {
      var loaderExist = 1
    }
    else {
      var innerDiv = document.createElement('div');
      innerDiv.className = 'ui active inline loader';
      innerDiv.id = 'loader';
      document.getElementById("selectionLoader").appendChild(innerDiv);
    }
  });
</script>
{% endblock %}